*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
}

.main-container{
    min-height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #457b9d;
    padding: 50px 0;
}

.container{
    height: 220px;
    width: 220px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate-360 20s infinite linear;
}

.red{
    background-color: red !important;
}

@keyframes rotate-360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.item{
    height: 100px;
    width: 10px;
    background-color: aqua;
    transform-origin: bottom;
    position: absolute;
    left: 0;
    border-top: 1px solid red;
}
.rotate-div{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: relative;
}

.line{
    height: 50px;
    width: 30px;
    margin-top: 150px;
    background-color: brown;
}

.item:nth-of-type(1){
    transform: translate(-50%,-50%) rotate(10deg);
    
}
.item:nth-of-type(2){
    transform: translate(-50%,-50%) rotate(20deg);
    
}
.item:nth-of-type(3){
    transform: translate(-50%,-50%) rotate(30deg);
    
}
.item:nth-of-type(4){
    transform: translate(-50%,-50%) rotate(40deg);
    
}
.item:nth-of-type(5){
    transform: translate(-50%,-50%) rotate(50deg);
    
}
.item:nth-of-type(6){
    transform: translate(-50%,-50%) rotate(60deg);
    
}
.item:nth-of-type(7){
    transform: translate(-50%,-50%) rotate(70deg);
    
}
.item:nth-of-type(8){
    transform: translate(-50%,-50%) rotate(80deg);
    
}
.item:nth-of-type(9){
    transform: translate(-50%,-50%) rotate(90deg);
    
}
.item:nth-of-type(10){
    transform: translate(-50%,-50%) rotate(100deg);
    
}
.item:nth-of-type(11){
    transform: translate(-50%,-50%) rotate(110deg);
    
}
.item:nth-of-type(12){
    transform: translate(-50%,-50%) rotate(120deg);
    
}
.item:nth-of-type(13){
    transform: translate(-50%,-50%) rotate(130deg);
    
}
.item:nth-of-type(14){
    transform: translate(-50%,-50%) rotate(140deg);
    
}
.item:nth-of-type(15){
    transform: translate(-50%,-50%) rotate(150deg);
    
}
.item:nth-of-type(16){
    transform: translate(-50%,-50%) rotate(160deg);
    
}
.item:nth-of-type(17){
    transform: translate(-50%,-50%) rotate(170deg);
    
}
.item:nth-of-type(18){
    transform: translate(-50%,-50%) rotate(180deg);
    
}
.item:nth-of-type(19){
    transform: translate(-50%,-50%) rotate(190deg);
    
}
.item:nth-of-type(20){
    transform: translate(-50%,-50%) rotate(200deg);
    
}
.item:nth-of-type(21){
    transform: translate(-50%,-50%) rotate(210deg);
    
}
.item:nth-of-type(22){
    transform: translate(-50%,-50%) rotate(220deg);
    
}
.item:nth-of-type(23){
    transform: translate(-50%,-50%) rotate(230deg);
    
}
.item:nth-of-type(24){
    transform: translate(-50%,-50%) rotate(240deg);
    
}
.item:nth-of-type(25){
    transform: translate(-50%,-50%) rotate(250deg);
    
}
.item:nth-of-type(26){
    transform: translate(-50%,-50%) rotate(260deg);
    
}
.item:nth-of-type(27){
    transform: translate(-50%,-50%) rotate(270deg);
    
}
.item:nth-of-type(28){
    transform: translate(-50%,-50%) rotate(280deg);
    
}
.item:nth-of-type(29){
    transform: translate(-50%,-50%) rotate(290deg);
    
}
.item:nth-of-type(30){
    transform: translate(-50%,-50%) rotate(300deg);
    
}
.item:nth-of-type(31){
    transform: translate(-50%,-50%) rotate(310deg);
    
}
.item:nth-of-type(32){
    transform: translate(-50%,-50%) rotate(320deg);
    
}
.item:nth-of-type(33){
    transform: translate(-50%,-50%) rotate(330deg);
    
}
.item:nth-of-type(34){
    transform: translate(-50%,-50%) rotate(340deg);
    
}
.item:nth-of-type(35){
    transform: translate(-50%,-50%) rotate(350deg);
    
}
.item:nth-of-type(36){
    transform: translate(-50%,-50%) rotate(360deg);
    
}